body	{
	font-family: 'Dosis', sans-serif;
	width:100%;
	display:flex;
	flex-direction:column;
	background-color:#C3FDE7;
	margin:0; padding:0;
	line-height:1.5em;
}

nav{
	height:4em;
	display:flex;
	justify-content:flex-end;
	width:100%;
	background-color:#262861;
}

nav a{
	margin:auto auto auto 1em;
	color:white;
	text-decoration:none;
}

h1{
	text-align:center;
	padding:1em;
	color:white;
}

h1,h2{
	margin:0;
	font-family:Courier New;
	text-align:center;
}

article{
	margin:3em auto ;
	width:80%;
	display:flex;
}

article h2{
	width:10em;
	background-color:black;
	color:white;
	padding:.5em; margin:0;
	text-align:left;
}

article p{
	font-size:1.3vw;
	letter-spacing:.03em;
	line-height:1.3;
	
}

article img{
	height:20em;
	margin-right:3em;
}

.itereer{
	display:flex;
	flex-direction:column;
	padding-bottom:1em;
	border-bottom:1px solid black;
}

.banner{
	margin:0 auto 2em;
	width:80%;
	padding:2em 0;
	border-bottom:1px solid black;	
}

table	{
	border:1px solid gray;
	margin:0 auto 3em;
	width:80%;
	padding:0;
}

table tr{
	background-color: white;
}

table td{
	padding:1em;
}

.trcontent{	
	visibility:visible !important;
	display:table-cell !important;
}

table td:first-of-type{
	width:50%;
}

td:first-of-type:hover{
	background-color:#2980b9;
	color:white;
}

tr td:nth-of-type(2){
	display:none;
	visibility:hidden;
}

tr td:nth-of-type(3){
	display:none;
	visibility:hidden;
}

tr td:nth-of-type(4){
	display:none;
	visibility:hidden;
}

tr p{
	font-size:1.5em;
	text-align:center;
}

aside{
	position:fixed;
	right:0;
	top:4em;
	width:calc(10% - 1px);
	border:1px solid black;
	display:flex;
	flex-direction:column;
}

aside ul{
	padding:0;
	list-style-type:none;
	text-align:center;
}
aside a{
	color:black;
	text-decoration:none;
}
img{
	height:200px;
}

#itereerimg{
	margin:0 auto;
	width:70%;
	height:auto;
}

.overig{
	margin:1em auto;
	display:flex;
	list-style-type:none;
	width:80%;
	justify-content:space-evenly;
	margin-bottom:5em;
}
#overig{

    background-color: black;
    color: white;
    padding: .5em;
  margin:0 auto 1em;
    text-align: center;
}

.overig li{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	width:20em;
	height:20em;
	background-color:white;
	transition:.5s;

	box-shadow: 1px 1px 5px black;
}

.overig li:hover{
	width:23em;
	height:23em;
	transition:.5s;
}

.overig h2{
	padding-top:1em;
	margin-bottom:auto;

}

.overig img{
	margin:0 auto;
	width:10em;
}

.overig a{
	margin-top:2em;
	height:3em;
	border-top:1px solid black;
	text-align:center;
	line-height:3;

	background-color:#262861;
	color:white;
}

.overig a:hover{
	background-color:black;

}

.slider {

	width:90%;
	text-align:center;
	margin:5em auto;
	display:flex;
	flex-direction:column;

}

.slider p{
	background-color:black;
	color:white;
}


.slider button{

	height:5em;
	width:5em;
	background-color: ;

}
.slider div{
	margin:0 auto;
	flex-direction:row;

}
#huts{
	width:50em;
	height:auto;
	margin:auto;

}

footer{
	width:100%;
	color:white;
	position:fixed;
	bottom:0;
	text-align:center;
	background-color:#262861;

}
footer a{
	color:white;
	text-decoration:underline;
}

@media(max-width:600px){
}



